<form>
  <div>
    <p>fgfdgd</p>
    <p>fgfdgd</p>
    <p>fgfdgd</p>
    <label>
      הכנס תאריך מבחן
    </label>
  </div>
  <div>
    <input type="date" #testDate name="testDate" [(ngModel)]="test.test_date">
  </div>
  <div>
    <label>
      הכנס שעת התחלת המבחן
    </label>
  </div>
  <div>
    <input type="time" #startTest name="startTest" [(ngModel)]="test.test_start_time">
  </div>
    <div>
      <label>
        הכנס שעת סיום המבחן
      </label>
    </div>
    <div>
      <input type="time" #endTest name="endTest" [(ngModel)]="test.test_end_time">
    </div>
    <div>
      <input type="number" #overMark min="1" max="100" name="ovaeMark" [(ngModel)]="test.over_mark">
    </div>
    <div>
      <select #class name="cls" [(ngModel)]="test.class_id">
        <option *ngFor="let cls of userService.classesForTeacher" [value]="cls.class_id">{{cls.class_name}}</option>
      </select>
    </div>
    <div>
      <label>
        הכנס רמת מבחן
      </label>
    </div>
    <div>
      <input type="number" #level min="1" max="10" name="level" [(ngModel)]="test.level">
    </div>
    <div>
      <input type="submit" value="create" (click)="createTest()">
    </div>
</form>
test_id:number;
test_date:Date;
test_start_time:Time;
test_end_time:Time;
over_mark:number;
class_id:number;
enable:boolean;
level:number;